{{!-- --}}
<section
  class="tab tab--{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <header>
    <h2>Actions</h2>
  </header>
  <main>
    <section>
      <article>
        <header>
          <img
            src="https://placehold.co/64x64/274240/d6cbb3.png"
            alt=""
          />
          <h3>Action Name</h3>
          <button><i class="fa fa-trash"></i></button>
        </header>
      </article>
    </section>
  </main>
  <footer>
    <button>Add new action</button>
  </footer>
</section>
