<aside class="application__effects-pane" aria-label="Active Effects">
  <ul class="application__effects-pane__effects-container">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
  <button data-action="toggle-effects-pane" data-tooltip="Toggle Effects Pane" aria-label="Toggle Effects Pane"><i
      class="fa fa-sparkles"></i></button>
</aside>
