{{#> sheetTab}}
<h2>{{localize "BAGS.Items.CommonTabs.ContainerSettings"}}</h2>
<div class="scrollable">
  <div class="standard-form">
    {{#with systemFields.container.fields as |fields|}}
      {{formGroup fields.isContainer
        name="system.container.isContainer"
        localize=true
        value=@root.document.system.container.isContainer
      }}
      {{formGroup fields.weightMax
        name="system.container.weightMax"
        localize=true
        value=@root.document.system.container.weightMax
      }}
      {{formGroup fields.weightModifier
        name="system.container.weightModifier"
        localize=true
        value=@root.document.system.container.weightModifier
      }}
    {{/with}}
  </div>
</div>
{{/sheetTab}}
