{{#with outcome.0}}
  {{!-- Show attempt result message if no effects --}}
  {{#if (eq effects.length 0)}}
    <p class="action__result__flavor action__result__flavor--{{#if attempt.success}}success{{else}}fail{{/if}}">
      {{> "chat-cards/partials/effect-message" type=(if attempt.success "success" "fail")}}
    </p>
  {{/if}}

  {{!-- Show single effect --}}
  {{#if (eq effects.length 1)}}
    {{#with (lookup effects 0)}}
      {{> "chat-cards/partials/effect-damage"}}
    {{/with}}
  {{/if}}

  {{!-- Show multiple effects --}}
  {{#if (gt effects.length 1)}}
    <ul class="action__effects">
      {{#each effects}}
        <li>{{> "chat-cards/partials/effect-damage"}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/with}}
