{{#with (lookup outcome 0)}}
  {{!-- Show attempt result message if no effects --}}
  {{#if (
    or (
      not ../details.flags.usesEffect
    ) (
      eq effects.length 0
    )
  )}}
    <p class="action__result__flavor action__result__flavor--{{#if attempt.success}}success{{else}}fail{{/if}}">
      {{> actionEffectMessage
        actor=../actor
        target=../target
        item=../item
        type=(ifThen attempt.success "success" "fail")
        flavorText=../details.attempt.flavorText
      }}
    </p>
  {{/if}}

  {{!-- Show single effect --}}
  {{#if (eq effects.length 1)}}
    {{#with (lookup effects 0)}}
      {{#if (eq type "attack")}}
        {{> actionEffectDamage}}
      {{else}}
        {{> actionEffectGeneric}}
      {{/if}}
    {{/with}}
  {{/if}}

  {{!-- Show multiple effects --}}
  {{#if (gt effects.length 1)}}
    <ul class="action__effects">
      {{#each effects}}
        <li>
          {{#if (eq type "attack")}}
            {{> actionEffectDamage}}
          {{else}}
            {{> actionEffectGeneric}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/with}}
