.application--class-editor {
  .requisite-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;

    &__stat-label {
      color: var(--color-form-label);
      font-weight: bold;
      line-height: var(--input-height);
      cursor: var(--cursor-default);

      &:first-of-type {
        grid-column: 2;
      }

      &--column-heading {
        line-height: 1.2;
        align-self: end;
      }
    }

    &__stat-field {
      &--half-prime-requisite-exclusivity {
        grid-column: 3;
      }
    }
  }
}
