.application--character-class-sheet {
  --application-height: 600px;

  container-name: sheet;
  container-type: inline-size;

  &:not(.minimized) {
    min-width: 620px;
  }

  .window-content {
    padding: 0 !important;

    /* &__header { */

    /* .xp- [name="name"] { */

    /* font-size: var(--font-size-document-name); */

    /* height: unset; */

    /* border: none; */

    /* font-family: var(--font-family-document-name); */

    /* background: transparent; */

    /* } */

    /* } */

    article:has(table) {
      overflow: scroll;
    }

    table {
      margin: 0;
    }
  }

  .empty {
    text-align: center;
    font-style: italic;
    color: var(--color-text-dark-3);
  }

  .flavor {
    max-width: 60ch;
    font-style: italic;
    opacity: 0.8;
    text-align: center;
    margin: 0 auto;
  }

  table {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-spacing: 0;

    thead {
      th {
        padding: 3px;
        position: sticky;
        top: 0;
        z-index: 1;

        &:first-child {
          position: sticky;
          left: 0;
          z-index: 2;
        }

        &:first-of-type {
          background-color: var(--color-text-dark-3);
        }
      }
    }

    td {
      text-align: center;

      input {
        min-width: 1.75em;
      }
    }

    tbody {
      th {
        background: var(--background);
        position: sticky;
        left: 0;
        z-index: 1;
      }
    }
  }

  &-pools {
    white-space: nowrap;

    tbody {
      :is(th, td) {
        padding: 0.25em;
      }

      td input {
        max-width: 3em;
        text-align: center;
      }
    }
  }

  .xp-table {
    .saves {
      /* background-color: var(--color-text-light-1); */
    }

    caption {
      caption-side: bottom;
    }
  }

  .gear-table {
    .content-link {
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}
