.application--character-class-sheet {
  --application-height: 600px;

  container-name: sheet;
  container-type: inline-size;

  &:not(.minimized) {
    min-width: 620px;
  }

  .window-content {
    padding: 0 !important;

    article:has(table) {
      overflow: scroll;
    }

    table {
      margin: 0;
    }
  }

  .empty {
    text-align: center;
    font-style: italic;
    color: var(--color-text-dark-3);
  }

  .flavor {
    max-width: 60ch;
    font-style: italic;
    opacity: 0.8;
    text-align: center;
    margin: 0 auto;
  }

  table {
    white-space: nowrap;
    margin: 0;
    border: none;
    border-spacing: 0;

    thead {
      th {
        padding: 3px;
        position: sticky;
        top: 0;
        z-index: 1;

        &:first-child {
          position: sticky;
          left: 0;
          z-index: 2;
        }

        &:first-of-type {
          background-color: var(--color-text-dark-3);
        }
      }
    }

    td {
      text-align: center;

      input {
        min-width: 1.75em;
      }
    }

    tbody {
      th {
        background: var(--background);
        position: sticky;
        left: 0;
        z-index: 1;
      }
    }
  }

  &-pools {
    white-space: nowrap;

    tbody {
      :is(th, td) {
        padding: 0.25em;
      }

      td input {
        max-width: 3em;
        text-align: center;
      }
    }
  }

  &:has(.xp-meter) .window-title {
    text-align: left !important; /* @todo fix this specificity issue */
    padding-left: 1em;
  }

  &:has(.xp-meter):has(.window-header__banner) .window-title {
    padding-left: var(--art-size);
  }

  .xp-meter {
    display: flex;
    font-size: 1.2em;
    padding: 0.5em 1em 0;
    margin-left: 0.5em;
    align-items: center;
    gap: 1em;

    .level {
      font-weight: bold;
    }
  }

  .xp-table {
    .saves {
      /* background-color: var(--color-text-light-1); */
    }

    caption {
      caption-side: bottom;
    }
  }

  .gear-table {
    .content-link {
      overflow-x: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }

  .tab {
    &--summary {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: min-content;
      gap: 1em;

      .flavor {
        grid-column: 1/3;
      }

      aside {
        :is(h1, h2, h3, h4, h5, h6) {
          font-family: var(--font-primary);
          opacity: 0.9;
          font-variant: small-caps;
          text-transform: lowercase;
          margin: 0;
          color: inherit;
          overflow: hidden;
          margin-bottom: 0.25em;

          &.decorated {
            &::before,
            &::after {
              content: "";
              display: inline-block;
              width: 50%;
              margin: 0 0.5em 0 -55%;
              vertical-align: middle;
              border-bottom: 1px solid var(--color-text-subtle);
            }

            &::after {
              margin: 0 -55% 0 0.5em;
            }
          }
        }

        dl {
          display: grid;
          gap: 0.1em 0.5em;
          margin: 0 0 0.5em;
          grid-template-columns: 1fr 6ch;

          :is(dd, dt) {
            margin: 0;
          }

          dt {
            color: var(--color-light-3);
          }

          dd {
            text-align: right;
          }
        }
      }
    }
  }
}
