<article class="application__master-detail__detail">
  <h2>{{action.name}}</h2>
  <div class="scrollable">
    <div class="standard-form">
      {{> actionEditorDetailsBasic action=action fields=fields }} {{#if
      action.flags.usesAttempt}} {{> actionEditorDetailsAttempt action=action
      fields=fields }} {{/if}} {{#if action.flags.usesEffect}} {{>
      actionEditorDetailsEffects action=action fields=fields }} {{/if}} {{#if
      action.flags.usesConsumption}} {{> actionEditorDetailsConsumption
      action=action fields=fields }} {{/if}} {{#if
      action.flags.usesRestrictions}} {{> actionEditorDetailsRestrictions
      action=action fields=fields }} {{/if}}
    </div>
  </div>
</article>
