<article class="application__master-detail__detail">
  {{#if action}}
    {{> actionEditorDetailsSettings action=action fields=fields }}        
    {{> actionEditorDetailsAttempt action=action fields=fields }}        
    {{> actionEditorDetailsAttemptMessages action=action fields=fields }}
    {{> actionEditorDetailsEffects action=action fields=fields }}
    {{> actionEditorDetailsConsumption action=action fields=fields }}
    {{> actionEditorDetailsRestrictions action=action fields=fields }}
  {{else}}
    <p class="empty">Select an action to edit, or create a new one.</p>
  {{/if}}
</article>
