{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.Actions.Editor.Description.Heading"}}</h2>
  </header>
  <prose-mirror name="description" value="{{action.description}}"></prose-mirror>
{{/sheetTab}}
