{{#> sheetTab}}
  <header class="tab__header">
    <h2>{{localize "BAGS.CharacterClass.Tabs.Restrictions"}}</h2>
  </header>

  <prose-mirror
    name="system.restrictions"
    value="{{item.system.restrictions}}"
  ></prose-mirror>
{{/sheetTab}}
