.application:not(.minimized) {
  outline: 1px solid #444d;

  .window-header {
    padding: 0 0 var(--border-width);
    background: unset;
    box-shadow: unset;
    border: none;
  }
}

prose-mirror .editor-container {
  overflow: scroll;
}

#logo {
  display: none;
}

#controls {
  margin-top: 12px;
}
