.application--bags .item-grid {
  /* Background grid */
  background-image: var(--item-grid-empty-cell-image);
  background-repeat: repeat;
  background-size: var(--item-grid-cell-padded-size)
    var(--item-grid-cell-padded-size);

  /* Foreground grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--item-grid-cell-size));
  grid-template-rows: repeat(auto-fit, var(--item-grid-cell-size));
  gap: var(--item-grid-cell-gap);
  justify-content: start;

  /* Display reset */
  list-style: none;
  margin: 0;
  padding: calc((var(--item-grid-cell-gap) / 2));
  width: minmax(100%, fit-content);
  max-width: 100%;
  min-height: calc(
    var(--item-grid-minimum-rows, 1) * var(--item-grid-cell-padded-size)
  );

  &__item {
    margin: 0;
  }
}
