.tab {
  &--details {
    figure img {
      max-height: 100px;
    }
  }

  &--item-description.active {
    flex: 1 0;

    prose-mirror {
      flex: 1;
    }
  }

  &--with-text-editor {
    & > h2 {
      margin: 0;
    }

    :is(.form-group, .form-fields, prose-mirror) {
      flex: 1;
    }
  }

  &--media {
    .upload-row {
      display: grid;
      grid-template-columns: 3rem 1fr;
      gap: 1em;
      align-items: center;

      &--banner {
        figure img {
          max-height: 4rem;
        }
      }
    }
  }
}
