.application__tab-navigation {
  &:not(:has([data-action="tab"])) {
    display: none !important;
  }

  position: absolute;
  top: 4.5rem;
  right: 0;
  transform: translateX(100%);
  width: max-content;
  flex-direction: column;
  gap: 0.5em !important;

  button {
    flex: 0 0 max-content;
    border: 1px solid var(--border-color);
    border-left: 0;
    background: var(--application-filler-gradient);
    border-radius: 3px;
    padding: 0.25em;
    width: 2rem;
    height: 1.5rem;
    display: block;
    line-height: 1.5rem;
    transform-origin: center left;

    &.active {
      padding-left: 0.25em;
      box-shadow: unset;
      outline: unset;
    }

    &[disabled] {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  :is(.minimizing, .minimized) & {
    transform: translateX(-50%) translateY(-100%) scaleY(0);
    opacity: 0;
  }
}
