.application--bags {
  .window-header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
  }

  .window-content {
    &:has(.window-content__header) {
      padding: 0;
    }

    &__header {
      margin-bottom: 1rem;
      position: relative;
      padding: var(--window-content-header-padding);
      cursor: grab;

      &:not(:has(.window-content__banner)) {
        background-image:
          var(
            --header-banner,
            linear-gradient(15deg, #0d0e23 20%, #3c5063 100%)
          );

        &::after {
          content: "";
          height: 2px;
          background-image:
            linear-gradient(
              90deg,
              transparent 0%,
              var(--border-color) 20%,
              var(--border-color) 80%,
              transparent 100%
            );
          position: absolute;
          left: 2rem;
          right: 2rem;
          bottom: -1px;
        }
      }

      &:has(.window-content__banner) {
        & > section {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          article {
            img {
              box-shadow: unset;
            }
          }
        }

        & > img {
          mask-image:
            linear-gradient(
              to bottom,
              rgb(0 0 0 / 100%),
              rgb(0 0 0 / 0%)
            );
        }
      }

      &:has(.window-content__document-image) {
        & > section {
          grid-template-columns: var(--icon-size) 1fr var(--icon-size);
        }
      }

      & > section {
        --icon-size: 2rem;

        display: grid;
        gap: 1em;

        /**
         * @todo Do we really want this text centered?
         */
        align-items: center;

        article {
          overflow-x: hidden;

          h1 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 1.1;
          }
        }
      }

      :is(h1, h2, h3, h4, h5, h6) {
        font-size: var(--font-h2-size);
        border: none;
        text-align: center;
        margin: 0;
      }
    }
  }
}
