.tab {
  &--details {
    figure img {
      max-height: 100px;
    }
  }

  &--item-description.active {
    flex: 1 0;

    prose-mirror {
      flex: 1;
    }
  }

  :is(&--flavor-text, &--description) {
    & > h2 {
      margin: 0;
    }

    .form-group,
    .form-fields,
    prose-mirror {
      height: 100%;
    }
  }
}
