.tab {
  &--item-summary.active {
    display: grid !important;
    grid-template: "details description" min-content / 1fr 2fr;

    &:has(.flavor-text) {
      grid-template-areas: "flavor flavor" "details description";
    }

    > .flavor-text {
      grid-area: flavor;
      text-align: center;
      color: var(--color-text-subtle);
    }

    > main {
      grid-area: description;

      :is(h1, h2, h3, h4, h5, h6) {
        text-align: left;
      }

      p {
        text-align: justify;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }

    > aside {
      grid-area: details;

      h2 {
        font-size: var(--font-h3-size);
        text-align: left;
        margin-bottom: 0.25rem;
      }

      .action-menu {
        li {
          display: grid;
          grid-template-columns: 32px 1fr;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }

  &--details {
    figure img {
      max-height: 100px;
    }
  }

  &--item-description.active {
    flex: 1 0;

    prose-mirror {
      flex: 1;
    }
  }

  :is(&--flavor-text, &--description) {
    & > h2 {
      margin: 0;
    }

    .form-group,
    .form-fields,
    prose-mirror {
      height: 100%;
    }
  }
}
