@import url("./shared.header.css");
@import url("./shared.tab-navigation.css");
@import url("./shared.actions.css");
@import url("./shared.item-grid.css");
@import url("./shared.enhanced-tooltip.css");

.application--bags:not(.minimized) {
  container-name: application;
  container-type: inline-size;

  &.animate {
    &--error {
      animation: shake 0.75s cubic-bezier(0.45, 0, 0.55, 1) 0s 1 normal none;
    }

    &--attention {
      transform-origin: center;
      animation: pulse 0.2s cubic-bezier(0.45, 0, 0.55, 1) 0s 1 normal none;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    border: none;
    text-align: center;
  }

  .tab.tab--sheet {
    &__header {
      :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
      }
    }

    &__footer {
      p {
        opacity: 0.8;
        font-style: italic;
        text-align: center;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  header:has(button) {
    display: flex;
    align-items: center;
    gap: 1em;

    :is(h1, h2, h3, h4, h5, h6) {
      text-align: left;
      flex: 1;
      margin: 0;
    }
  }

  table {
    overflow: initial;

    thead {
      z-index: 2;
    }

    th {
      z-index: 1;
      text-align: center;
    }

    td {
      &:has(input) {
        min-width: calc(3ch + 1rem);
      }

      .flexrow {
        align-items: space-between;
      }
    }

    :is(tbody th, thead) {
      @media screen and not (prefers-reduced-motion: reduce) {
        position: sticky;
        top: -1px;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
      }
    }

    :is(th, td) {
      line-height: 1.4em;
      padding: 0.25em;

      &:has(input) {
        padding: 0.25em;
      }
    }
  }
}

@layer system {
  .application--bags {
    overflow: visible;

    .window-content {
      &__tags {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1em;
        opacity: 0.8;
        text-shadow: 1px 1px black;
      }
    }

    &.application {
      &__header {
        min-height: 100px;
        background-image: var(--header-banner);
      }

      .tab--sheet {
        &.active {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          gap: 1em;
          padding: 0 0.5em 0.5em;
          flex: 1;

          .tab {
            &__header,
            &__footer {
              flex: 0;
            }

            &__footer {
              margin-bottom: 0;
              margin-top: auto;
            }

            &__content {
              flex: 1;
              display: flex;
              flex-direction: column;
              overflow: hidden auto;
            }
          }
        }

        :is(h1, h2, h3, h4, h5, h6) {
          text-align: center;
        }

        &__header {
          position: relative;
          max-width: 60ch;
          padding: 0 3rem;
          margin: 0 auto;

          &::after {
            content: "";
            height: 1px;
            background-image: linear-gradient(
              90deg,
              transparent 0%,
              var(--border-color) 20%,
              var(--border-color) 80%,
              transparent 100%
            );
            position: absolute;
            left: 2rem;
            right: 2rem;
            bottom: 0;
          }
        }
      }
    }
  }

  .number-showcase {
    &__list {
      display: grid;
      grid-template-columns: repeat(var(--number-showcase-columns, 3), 1fr);
      list-style-type: none;
      gap: 1em;
      margin: 0;
      padding: 1em 0;
      text-align: center;

      li {
        display: flex;
        gap: 0.25em;
        line-height: 1em;
        flex-direction: column;
        position: relative;

        &::after {
          position: absolute;
          display: block;
          width: 2rem;
          height: 2rem;
          border: 1px solid var(--border-color);
          background-color: #383531;
          content: "";
          left: 50%;
          top: 0;
          rotate: 45deg;
          border-radius: 4px;
          translate: -50% -0.5rem;
          z-index: 1;
          opacity: 0.8;
        }
      }
    }

    &__label {
      order: 2;
      z-index: 2;
      color: var(--color-text-secondary);
      text-transform: uppercase;
    }

    &__value {
      order: 1;
      z-index: 2;
      font-weight: 600;
      font-size: 1.25em;
    }
  }

  .rollable {
    --rollable-accent-color: var(--color-light-5);

    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--rollable-accent-color);
    text-decoration-skip-ink: all;
    transition: text-decoration-color 115ms ease-in-out;

    &--icon-before {
      &::before {
        margin-right: 0.5ch;
        content: "\f6cf";
      }
    }

    &[data-action]:hover {
      cursor: pointer;

      --rollable-accent-color: var(--color-light-3);
    }

    &:not(.rollable--icon-before) {
      &::after {
        margin-left: 0.5ch;
        content: "\f6cf";
      }
    }

    &::before,
    &::after {
      color: var(--rollable-accent-color);
      -webkit-font-smoothing: antialiased;
      display: var(--fa-display, inline-block);
      font-size: 0.9em;
      font-style: normal;
      font-variant: normal;
      line-height: inherit;
      text-rendering: auto;
      font-family: var(--fa-style-family, "Font Awesome 6 Pro");
      font-weight: var(--fa-style, 300);
      transition: color 115ms ease-in-out;
    }
  }

  p.empty {
    color: var(--color-text-subtle);
    font-style: italic;
    text-align: center;
    margin: 0;
  }
}

.application--hide-title {
  .window-header {
    justify-content: flex-end;

    :is(.window-icon, .window-title) {
      display: none;
    }
  }
}
