@import url("./shared.header.css");
@import url("./shared.tab-navigation.css");
@import url("./shared.actions.css");
@import url("./shared.item-grid.css");
@import url("./shared.enhanced-tooltip.css");

.application--bags:not(.minimized) {
  &.animate {
    &--error {
      animation: shake 1s cubic-bezier(0.45, 0, 0.55, 1) 0s 1 normal none;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) {
    border: none;
    text-align: center;
  }

  .tab {
    &__header {
      :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
      }
    }

    &__footer {
      p {
        opacity: 0.8;
        font-style: italic;
        text-align: center;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  header:has(button) {
    display: flex;
    align-items: center;
    gap: 1em;

    :is(h1, h2, h3, h4, h5, h6) {
      text-align: left;
      flex: 1;
      margin: 0;
    }
  }

  table {
    overflow: initial;

    thead {
      z-index: 2;
    }

    th {
      z-index: 1;
      text-align: center;
    }

    td {
      &:has(input) {
        min-width: calc(3ch + 1rem);
      }

      .flexrow {
        align-items: space-between;
      }
    }

    :is(tbody th, thead) {
      @media screen and not (prefers-reduced-motion: reduce) {
        position: sticky;
        top: -1px;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
      }
    }

    :is(th, td) {
      line-height: 1.4em;
      padding: 0.25em;

      &:has(input) {
        padding: 0.25em;
      }
    }
  }
}

.application__effects-pane {
  --pos: translateX(4px);
  --scale: scaleX(0);
  --button-pos: -1px;

  position: absolute;
  right: 0;
  top: 64px;
  bottom: 64px;
  width: 200px;
  transform: var(--pos);
  z-index: -1;

  &,
  ul {
    transition: all 333ms ease-in-out;
  }

  :is(.minimizing, .minimized) & {
    transform: translateX(0) scale(0);
    border-width: 0;
    background: transparent;
  }

  &:not(:has(ul[aria-hidden])) {
    /* transform: scaleX(0); */
    --pos: translateX(100%);
    --scale: scaleX(1);

    border: 1px solid var(--border-color);
    background: var(--background);
  }

  ul {
    transform: var(--scale);
    overflow: hidden scroll;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    right: 0;
    transform: translateX(100%);
    width: 16px;
    background-color: var(--border-color);
    color: navy;
  }
}

@layer system {
  .application--bags {
    height: var(--application-height, auto);

    .window-content {
      height: calc(
        var(--application-height, auto) - var(--outer-border-offset) * 2 -
          var(--border-width) * 2
      );

      &__tags {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 1em;
        opacity: 0.8;
        text-shadow: 1px 1px black;
      }
    }

    &,
    .window-content {
      overflow: visible !important;
    }

    &:not(.minimized) {
      min-height: calc(var(--header-height) + 400px) !important;
    }

    &.application {
      &__header {
        min-height: 100px;
        background-image: var(--header-banner);
      }

      .tab {
        &.active {
          display: flex !important;
          flex-direction: column;
          overflow: hidden;
          gap: 1em;
          padding: 0 0.5em 0.5em;
          flex-basis: 100%;

          .tab {
            &__header,
            &__footer {
              flex: 0;
            }

            &__footer {
              margin-bottom: 0;
              margin-top: auto;
            }

            &__content {
              flex: 1;
              display: flex;
              flex-direction: column;
              overflow: hidden auto;
            }
          }
        }

        :is(h1, h2, h3, h4, h5, h6) {
          text-align: center;
        }

        &__header {
          position: relative;
          max-width: 60ch;
          padding: 0 3rem;
          margin: 0 auto;

          &::after {
            content: "";
            height: 1px;
            background-image: linear-gradient(
              90deg,
              transparent 0%,
              var(--border-color) 20%,
              var(--border-color) 80%,
              transparent 100%
            );
            position: absolute;
            left: 2rem;
            right: 2rem;
            bottom: 0;
          }
        }
      }
    }
  }
}

.application--hide-title {
  .window-header {
    justify-content: flex-end;

    :is(.window-icon, .window-title) {
      display: none;
    }
  }
}
