/* .application--bags:not(.minimized) .action-list { */

/* display: flex; */

/* gap: 1em; */

/* flex-direction: column; */

/* list-style: none; */

/* margin: 0; */

/* padding: 0; */

/* &-item { */

/* > header { */

/* display: grid; */

/* grid-template-columns: 32px 1fr max-content; */

/* gap: 0.5em; */

/* } */

/* &__controls { */

/* display: flex; */

/* gap: 0.5em; */

/* li { */

/* margin: 0; */

/* } */

/* } */

/* &__icon { */

/* max-width: 100%; */

/* height: auto; */

/* object-fit: contain; */

/* display: block; */

/* } */

/* &-tags { */

/* list-style: none; */

/* display: flex; */

/* gap: 1em; */

/* } */

/* } */

/* } */

.application--action-editor {
  .roll-fields {
    display: grid;
    grid-template-columns: 1fr 10ch 10ch;
    gap: 0.5em;

    .form-group {
      flex-direction: column;
      text-align: left;
      align-items: start;
      gap: 0;
    }
  }

  fieldset {
    legend {
      margin-bottom: -100%;
    }
  }

  /* Progressive disclosure empty states */
  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    text-align: center;
    color: var(--color-text-dark-secondary);

    i {
      color: var(--color-text-dark-inactive);
    }

    &__message {
      max-width: 40ch;
      margin: 0;
    }

    button {
      margin-top: 0.5em;
    }
  }

  .primary-button,
  .secondary-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
  }

  .secondary-button {
    margin-top: 1em;
  }
}
