.application--bags:not(.minimized, .application--character-sheet)
  .window-header {
  --art-size: 48px;

  position: relative;
  display: block;
  overflow: clip;
  border-radius: 5px 5px 0 0;

  &:not(:has(.window-header__banner)) {
    padding: var(--application-header-padding);
    background-image: var(--application-header-banner);
  }

  &:has(.window-header__banner) {
    .window-header__content {
      position: absolute;
      bottom: 0.5em;
      left: 0.5em;
      right: 0.5em;

      article {
        img {
          box-shadow: unset;
        }
      }

      &:has(img) {
        h1 {
          translate: calc(var(--art-size) / 2 * -1) 0;
        }
      }

      h1 {
        text-shadow: 1px 1px var(--color-cool-5);

        .theme-light & {
          color: var(--color-cool-4);
          text-shadow: 1px 1px var(--color-cool-3);
        }
      }
    }

    .window-header__banner {
      z-index: -1;
      object-fit: cover;
      max-width: 100%;
      min-height: calc(var(--art-size) + 1em);
      mask-image: linear-gradient(
        to bottom,
        rgb(0 0 0 / 100%) 0%,
        rgb(0 0 0 / 100%) calc(100% - 4em),
        rgb(0 0 0 / 0%) 100%
      );
    }
  }

  &::after {
    content: "";
    height: 1px;
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      var(--border-color) 20%,
      var(--border-color) 80%,
      transparent 100%
    );
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 0;
    z-index: 6;
  }

  &__content {
    display: flex;
    align-items: center;

    > img {
      height: 3rem;
      object-fit: contain;
      align-items: center;
      background: var(--background);
      border: 1px solid var(--border-color);
      border-radius: 0.25rem;
      display: flex;
      overflow: hidden;
      width: var(--art-size);
    }

    .window-title {
      margin: 0;
      text-align: center;
      line-height: 1.1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: var(--font-h2-size);
      font-family: var(--font-h1);
      width: calc(100% - var(--art-size));
    }
  }

  .window-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .window-buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 4;
  }

  .controls-dropdown {
    z-index: 5;
  }

  &__actions {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    translate: -50% 0;
    z-index: 1;

    li {
      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        border: 1px solid #fff;
        border-radius: 0.25rem;
      }
    }
  }
}
