@layer variables {
  body {
    /* === Foundry Overrides ================================================ */
    --font-h1: "Gabriela", serif !important;
    --font-h2: "Gabriela", serif !important;
    --font-h3: "Gabriela", serif !important;
    --font-h1-size: var(--font-size-32) !important;
    --font-h2-size: var(--font-size-24) !important;
    --font-h3-size: var(--font-size-20) !important;

    /* === Document Names ======================================================
     * These variables should be used to style the name of a Document on
     * its sheet, when *viewing* the sheet.
     */
    --font-size-document-name: var(--font-h2-size);
    --font-family-document-name: var(--font-h1);
    --font-weight-document-name: 400;
    --font-style-document-name: normal;

    /* === Miscellaneous ==================================================== */
    --color: #f00;
  }

  .application {
    --border-color: #b78846 !important;
  }

  @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }

    10% {
      transform: rotate(1deg);
    }

    20%,
    40%,
    60% {
      transform: rotate(-2deg);
    }

    30%,
    50%,
    70% {
      transform: rotate(2deg);
    }

    80% {
      transform: rotate(-1deg);
    }

    90% {
      transform: rotate(1deg);
    }
  }
}
