.application--spell-manager {
  .spell-preparation {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    & > h3 {
      grid-column: 1/3;
      margin: 0;
    }

    .empty {
      grid-column: 1/3;
    }

    :is(&__prepared, &__available) {
      display: flex;
      flex-direction: column;

      h4 {
        font-family: var(--font-primary);
        font-size: 1.25rem;
        opacity: 0.9;
        font-variant: small-caps;
        text-transform: lowercase;
        margin: 0;
        color: inherit;
        overflow: hidden;
        flex: 1;

        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 50%;
          margin: 0 0.5em 0 -55%;
          vertical-align: middle;
          border-bottom: 1px solid var(--color-text-subtle);
        }

        &::after {
          margin: 0 -55% 0 0.5em;
        }
      }
    }
  }

  .spell-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32px);
    align-items: start;
    gap: 0.5rem;
    margin: 0;
    padding: 0.5rem;
    flex: 1;
    list-style: none;
    margin-bottom: 0.5rem;

    &__item {
      display: block;
      width: var(--size, 32px);
      height: var(--size, 32px);
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      /* Empty slots styling */
      &--empty {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        overflow: hidden;
        background-color: #383531;
        position: relative;
        transition:
          opacity ease-in-out 333ms,
          filter ease-in-out 333ms;
      }

      &.prepared {
        background-color: var(--color-bg-highlight);
      }
    }
  }

  .spell-table {
    th {
      text-align: left !important;

      &:last-of-type {
        text-align: center !important;
      }
    }

    .spell-icon,
    .spell-level {
      width: 48px;
    }

    .spell-actions {
      width: 10ch;

      button {
        display: inline-block;
        margin-left: 1ch;
      }
    }

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }

    .col-icon .col-level .col-actions {
      width: min-content;
    }
  }
}
