:host {
  display: flex;
  gap: 0.5em;
  height: 1em;
  width: 100%;

  --meter-fill-pct: 80%;
  --meter-padding: 0.125em;
  --meter-radius: 0.4em;
  --meter-edge-highlight-width: 0.0625em;
  --meter-radius-inner: calc(var(--meter-radius) - var(--meter-padding));
  --meter-height: calc(1em - var(--meter-padding) * 2);
}

:host:has(:host(i)) {
  color: #f00;
}

:host(i) {
  font-size: 0.8em;
}

.value {
  color: white;
  z-index: 4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  line-height: 1em;
  text-shadow: 1px 1px rgb(0 0 0 / 50%);
}

.meter {
  width: 100%;
  position: relative;
  z-index: 3;
}

.meter::before,
.meter::after {
  position: absolute;
  content: "";
  display: block;
}

.meter::before {
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--meter-height) + var(--meter-padding));
  z-index: 1;
  border-radius: var(--meter-radius);
  outline: 0.0625em solid var(--border-color);
  border: 0.0625em solid #383531;
  background-color: #383531;
  width: 100%;
}

.meter:not(.meter--empty)::after {
  z-index: 2;
  border-width: calc(var(--meter-height) / 2);
  border-style: solid;
  height: 0;
  width:
    calc(
      var(--meter-fill-pct) - var(--meter-padding) - var(--meter-height)
    );
  top: 2px;
  left: calc(var(--meter-padding));
  border-radius: var(--meter-radius-inner);

  /* --- Color --- */
  border-color:
    var(--meter-color-highlight) var(--meter-color-midtone)
    var(--meter-color-shadow) var(--meter-color-midtone);
  outline:
    var(--meter-edge-highlight-width) solid
    var(--meter-color-edge-highlight);
}
