:host {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;

  --meter-color-shadow: hsl(var(--info-meter-base-hue, 210) 60% 19%);
  --meter-color-midtone: hsl(var(--info-meter-base-hue, 210) 59% 28%);
  --meter-color-highlight: hsl(var(--info-meter-base-hue, 210) 59% 47%);
  --meter-color-edge-highlight: hsl(var(--info-meter-base-hue, 210) 93% 61%);
  --meter-fill-pct: 80%;
  --meter-padding: 0.125em;
  --meter-radius: 0.4em;
  --meter-edge-highlight-width: 0.0625em;
  --meter-radius-inner: calc(var(--meter-radius) - var(--meter-padding));
  --meter-height: calc(1em - var(--meter-padding) * 2);
}

:host([has-icon]) {
  gap: 0.5em;
}

::slotted(i) {
  width: 2.5ch;
}

.icon {
  text-align: center;
  font-size: 0.9em;
  line-height: 1;
}

:host(:not([has-icon])) .icon {
  display: none;
}

.value-display {
  color: white;
  z-index: 4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  line-height: 1em;
  text-shadow: 1px 1px rgb(0 0 0 / 50%);
}

:host(.editing) .value-display {
  display: none;
}

.value-display--editable {
  cursor: pointer;
  user-select: none;
}

.value-display--editable:hover {
  text-shadow:
    0 0 4px rgb(255 255 255 / 50%),
    1px 1px rgb(0 0 0 / 50%);
}

.value-input {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3em;
  height: 0.9em;
  text-align: center;
  background: rgb(0 0 0 / 50%);
  border: 1px solid var(--meter-color-edge-highlight);
  color: white;
  font-size: inherit;
  font-family: inherit;
  z-index: 5;
  padding: 0.125em;
  border-radius: 0.25em;
}

:host(.editing) .value-input {
  display: block;
}

.meter {
  width: 100%;
  position: relative;
  z-index: 3;
  height: calc(var(--meter-height) + var(--meter-padding) * 2 + 0.0625em * 2);
}

.meter::before,
.meter::after {
  position: absolute;
  content: "";
  display: block;
}

.meter::before {
  top: 0;
  left: 0;
  right: 0;
  height: calc(var(--meter-height) + var(--meter-padding));
  z-index: 1;
  border-radius: var(--meter-radius);
  outline: 0.0625em solid var(--border-color);
  border: 0.0625em solid #383531;
  background-color: #383531;
  width: 100%;
}

.meter:not(.meter--empty)::after {
  z-index: 2;
  border-width: calc(var(--meter-height) / 2);
  border-style: solid;
  height: 0;
  width: calc(
    var(--meter-fill-pct) - var(--meter-padding) - var(--meter-height)
  );
  top: 2px;
  left: calc(var(--meter-padding));
  border-radius: var(--meter-radius-inner);

  /* --- Color --- */
  border-color: var(--meter-color-highlight) var(--meter-color-midtone)
    var(--meter-color-shadow) var(--meter-color-midtone);
  outline: var(--meter-edge-highlight-width) solid
    var(--meter-color-edge-highlight);
}
