.application--character-sheet {
  uft-character-info-meter {
    &.hp {
      --info-meter-base-hue: 9;
    }

    &.xp {
      --info-meter-base-hue: 54;
    }

    &.encumbrance {
      --info-meter-base-hue: 52;
    }
  }

  .window-content {
    display: grid;
    gap: 1em;
    grid-template-areas: "persistent tab-content";
    grid-template-columns: minmax(210px, 1fr) 2fr;
    padding: 0 !important;
    overflow: hidden !important;
  }

  .ability-scores {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style-type: none;
      gap: 1em;
      margin: 0;
      padding: 1em 0;
      text-align: center;

      li {
        display: flex;
        gap: 0.25em;
        line-height: 1em;
        flex-direction: column;
        position: relative;

        &::after {
          position: absolute;
          display: block;
          width: 2rem;
          height: 2rem;
          border: 1px solid var(--border-color);
          background-color: #383531;
          content: "";
          left: 50%;
          top: 0;
          rotate: 45deg;
          border-radius: 4px;
          translate: -50% -0.5rem;
          z-index: 1;
          opacity: 0.8;
        }
      }
    }

    &__label {
      order: 2;
      z-index: 2;
      color: var(--color-text-secondary);
      text-transform: uppercase;
    }

    &__score {
      order: 1;
      z-index: 2;
      font-weight: 600;
      font-size: 1.25em;
    }
  }

  .left-rail {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: var(--application-content-padding) 1rem
      var(--application-content-padding) var(--application-content-padding);
    background-image: url("assets/sheets/background-texture.webp"),
      var(--application-filler-gradient);
    background-blend-mode: multiply;
    overflow: hidden;
    height: 100%;

    &::after {
      content: "";
      width: 2px;
      background-image: linear-gradient(
        to bottom,

        var(--border-color) 80%,
        transparent 100%
      );
      position: absolute;

      /* top: 2rem; */
      top: 0;
      bottom: 2rem;
      right: -1px;
    }
  }

  .character-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--document-icon-size));
    gap: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .character-class {
    --art-size: 40px;

    display: grid;
    grid-template-columns: var(--art-size) 1fr;
    gap: 1em;

    .document-art {
      width: var(--art-size);
      height: var(--art-size);
      border: 2px solid var(--border-color);
      border-radius: var(--art-size);
      display: flex;
      align-items: center;
      background: var(--background);
      overflow: hidden;
      object-fit: cover;
    }

    .class-level {
      display: inline-block;
      border: 2px solid var(--border-color);
      border-radius: 1em;
      width: 2ch;
    }

    .character-details {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    h2 {
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  .meters {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .character-tiles {
    --character-info-columns: 1fr 12ch;

    h3 {
      font-family: var(--font-primary);
      font-size: 1rem;
      opacity: 0.8;
      font-variant: small-caps;
      text-transform: lowercase;
      margin: 0;
    }

    dl {
      display: grid;
      gap: 0.1em 0.5em;
      margin: 0 0 0.5em;
      grid-template-columns: var(--character-info-columns);

      dd,
      dt {
        margin: 0;
      }

      dt {
        color: var(--color-text-secondary);
      }

      dd {
        text-align: right;
      }
    }

    div {
      --character-info-columns: 1fr 6ch;

      &:has(header) {
        --character-info-columns: 1fr 6ch 6ch;

        header {
          display: grid;
          grid-template-columns: var(--character-info-columns);
          gap: 0.5em;

          span {
            text-align: right;
            font-family: var(--font-primary);
            font-size: 1rem;
            opacity: 0.8;
            font-variant: small-caps;
            text-transform: lowercase;
            margin: 0;
          }
        }

        h3 {
          text-align: left;
        }

        dl {
          display: grid;
          grid-template-columns: var(--character-info-columns);
          gap: 0 0.5em;
        }
      }
    }

    &:has(dt.movement) {
      --character-info-columns: 1fr max-content;
    }
  }

  .character-sheet-inventory {
    search {
      display: flex;
      align-items: center;
      padding-inline: 8px;
      gap: 8px;
    }
  }
}
