<header class="window-content__header">
  <div class="window-content__header__document-art">
    {{!--<img src="{{actor.img}}" alt="" data-edit="img" />--}}
    <img src="https://placedog.net/200/100" alt="" data-edit="img" />
  </div>
  <section>
    {{formInput fields.name value=actor.name}}
    <ul class="window-content__tags">
      <li>Chaotic</li>
    </ul>
  </section>

</header>
