
<article class="tab character-class-sheet-{{tab.id}} {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">


<div class="inventory">
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
  <uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile>
</div>
</article>
