<section class="left-rail">
  <article class="character-name">
    <img src="https://placehold.co/128x128/000/fff" class="document-art" alt="" />
    <div class="character-details">
      <h2>{{actor.name}}</h2>
      <uft-character-info-meter value="8" max="24" class="hp">
        <i slot="icon" class="fa fa-heart"></i>
      </uft-character-info-meter>

      <uft-character-info-meter value="686" max="1600" class="encumbrance">
        <i slot="icon" class="fa fa-weight-hanging"></i>
      </uft-character-info-meter>
    </div>
  </article>
  <article class="character-classes">
    <uft-xp-bar uuid="Item.eikV7zsBQuNnrEpv"></uft-xp-bar>
  </article>
  <article class="meters">
  </article>
    <div class="character-tiles">

      <div class="attack">

      </div>
      <div class="damage">

      </div>

      <div class="movement">

      </div>
    </div>

    <ul class="equipment">
      <li>
        <img src="https://placehold.co/32x32/000/fff" alt="" />
      </li>
    </ul>

    <ul class="favorites">
      <li>
        <img src="https://placehold.co/32x32/000/fff" alt="" />
      </li>
    </ul>
  </div>
  <div class="ability-score-tile">
    <label>STR</label>
    <span class="value">18</span>
  </div>
</section>
