<article
  class="tab character-class-sheet-{{tab.id}} {{tab.cssClass}}"
  data-tab="{{tab.id}}"
  data-group="{{tab.group}}"
>
  <div class="spell-slots">
    <h3>Spell Slots</h3>
    <ul class="item-grid item-grid--spell-slots">
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
    </ul>
  </div>

  <div class="abilities">
    <h3>Abilities</h3>
    <ul class="item-grid item-grid--abilities">
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
    </ul>
  </div>

  <div class="equipment">
    <h3>Equipment</h3>
    <ul class="item-grid item-grid--equipment">
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
    </ul>
  </div>

  <div class="favorites">
    <h3>Favorites</h3>
    <ul class="item-grid item-grid--favorites">
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
      <li><uft-item-tile uuid="Item.t3tS6u7Gzg2uBPS3"></uft-item-tile></li>
    </ul>
  </div>
</article>
